# Logs
services/frontend/client/logs
services/frontend/client/*.log
services/frontend/client/npm-debug.log*
services/frontend/client/yarn-debug.log*
services/frontend/client/yarn-error.log*
services/frontend/client/pnpm-debug.log*
services/frontend/client/lerna-debug.log*

services/frontend/client/node_modules
services/frontend/client/dist
services/frontend/client/dist-ssr
services/frontend/client/*.local

# Editor directories and files
services/frontend/client/.vscode/*
services/frontend/client/!.vscode/extensions.json
services/frontend/client/.idea
services/frontend/client/.DS_Store
services/frontend/client/*.suo
services/frontend/client/*.ntvs*
services/frontend/client/*.njsproj
services/frontend/client/*.sln
services/frontend/client/*.sw?
